@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Corinthia:wght@400;700&family=DM+Serif+Text:ital@0;1&family=Fira+Sans&family=Josefin+Sans:wght@100..700&family=New+Amsterdam&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fontePrincipal: "Poppins", sans-serif;
    --fonteSecundaria: "Arial", Helvetica, sans-serif;
    --bordaPadrao: 2px solid #042a36; 
    --corPrimaria:#031b23;
    --corSecundaria: #042a36;

}
/* ---------------------------------- DEFINE O ESTILO BASE DO CORPO DA PÁGINA ---------------------------------- */
body {
    margin: 0;
    font-family: var(--fontePrincipal);
    color: var(--corPrimaria);
    background-color: white;
    font-weight: 600;
    transition: background-color 0.5s ease, color 0.5s ease;
}
h1 {
    font-weight: 550;
    font-size: min(2.8125rem, 6vw); 

}


/* ---------------------------------- CONTAINER PRINCIPAL QUE CENTRALIZA O CONTEÚDO ---------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

/* ---------------------------------- BOTÃO PARA ALTERAR O TEMA (CLARO/ESCURO) ---------------------------------- */

.theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    top: 20px;
}

.theme-toggle i {
    font-size: min(1.25rem, 3vw);
}
.theme-toggle .fa-moon {
    color: var(--corSecundaria); 
}


/* ---------------------------------- PERSONALIZAÇÃO DO CONTEÚDO NO TEMA ESCURO ---------------------------------- */

body.dark-mode {
   background-color: var(--corPrimaria);
    color: #ffffff;
}

/* ---------------------------------- AREA PARA RESPONSIVIDADE---------------------------------- */
#area{
    max-width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}
/* ---------------------------------- ADICIONAR TAREFAS ---------------------------------- */

.adicionar {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 100%;
}

input {
    flex: 1;
    padding: 10px;
    font-size: min(1rem, 3vw);
    width: 540px;
    max-width: 600px;
    background-color: var(--corSecundaria);
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

/* ---------------------------------- CONFIGURAÇÃO DO BOTÃO "ADICIONAR" ---------------------------------- */
button.mais {
    padding: 10px 10px;
    height: 40px;
    width: 2.5rem;
    font-size: min(1rem, 3vw);
    border: var(--bordaPadrao);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    background-color: white;
}


button.mais img {
    width: min(23px, 5vw);
    height: min(23px, 5vw);
}

button.mais:hover {
    transform: scale(1.1); 
}

/* ---------------------------------- LISTA DE ITENS ---------------------------------- */
ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
}

li {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--bordaPadrao);
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    word-break: break-word;
    font-family: var(--fonteSecundaria);
    font-size: min(15px, 3vw);
    gap: 10px;
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


body.dark-mode li {
    color: black;
    background-color: white;
    border: 1px solid #333333;
}

body.dark-mode li .circle {
    border-color:black ; 
}

body.dark-mode li.concluida {
    color: #777777; 
    text-decoration: line-through;
}

/* ---------------------------------- TEMA ESCURO - ÍCONES DENTRO DA LI ---------------------------------- */
body.dark-mode li .icons img {
    filter:none; 
}

li .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(15px, 3vw);
    height: min(15px, 3vw);
    border: var(--bordaPadrao);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    margin-right: 10px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

li img {
    width: min(18px, 5vw);
    height: min(18px, 5vw);
    cursor: pointer;
}

li img:hover {
    transform: scale(1.2);
    filter: brightness(0) saturate(100%) invert(31%) sepia(100%) saturate(500%) hue-rotate(0deg) brightness(60%) contrast(100%);
}

body.dark-mode li.concluida {
    color: #5f5c5c;
    text-decoration: line-through;
}
body.dark-mode li .circle {
    border: var(--bordaPadrao);}

body.dark-mode li .circle img {
    filter: brightness(0) saturate(100%) invert(100%);}



body li.concluida {
    color: #888888;
    text-decoration: line-through;
}

/* ---------------------------------- MODAL CTRL + H  ---------------------------------- */

.modal-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(80%, 600px);
    max-width: 600px;
    height: min(80%, 400px);
    z-index: 1000;
    padding: 20px;
}

.modal-content {
    background-color: #b8cddb;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: var(--bordaPadrao);
   
}

.dark-mode .modal-content {
    background: #082735;
    color: #ffffff;
    border: 2px solid #ffffff;
}



/* ---------------------------------- FECHAR MODAL ---------------------------------- */

.fechar-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(2rem, 6vw);
    cursor: pointer;
    color: var(--corSecundaria);
    position: absolute;
    top: 10px;
    right: 10px;
}

.fechar-modal img {
    padding: 20px;
    width: min(20px, 5vw);
    height: min(20px, 5vw);
}

.dark-mode .fechar-modal {
    color: #ffffff;
}

.dark-mode .fechar-modal img {
    filter: invert(1);
}

/* ---------------------------------- CONTEÚDO DO MODAL ---------------------------------- */

.informacoesModal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 10px;
    text-align: center;
}

.informacoesModal p {
    margin: 0;
    font-size: min(20px, 4vw);
    font-family: var(--fonteSecundaria);
    font-weight: 300;
}

.informacoesModal img {
    height: min(40px, 10vw);
    margin-top: 10px;
    border-radius: 50%;
}

.informacoesModal .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#autoras {
    height: min(50px, 15vw);
    width: min(50px, 15vw);
    object-fit: cover;
}

/* ---------------------------------- BARRA DE PROGRESSO  ---------------------------------- */

.progress-container {
    position: relative;
    height: min(30px, 10vw);
    margin-top: 5px;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    width: min(80%, 440px);
    max-width: 600px;
}

progress {
    width: 100%;
    height: 100%;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 15px;
    display: flex;
    animation: progressGrow 2s ease-out forwards;
}
@keyframes progressGrow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
progress::-webkit-progress-bar {
    background-color: #b8cddb;
    border-radius: 15px;
}

progress::-webkit-progress-value {
    background-color: #4dd051;
    border-radius: 15px;
}
#progressLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: min(15px, 4vw);
    color: rgb(0, 0, 0);
    font-family: var(--fonteSecundaria);
}

