@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Corinthia:wght@400;700&family=Fira+Sans&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=New+Amsterdam&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 
/* ---------------------------------- DEFINE O ESTILO BASE DO CORPO DA PÁGINA ---------------------------------- */
body {
    margin: 0;
    font-family: "Corinthia", cursive;
    color: #000000;
    background-image: url('imagens/white.png');
    background-size: cover;
    font-weight: 700;
    font-size: min(1.875rem, 5vw);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(78px, 10vw);
}


/* ---------------------------------- CONTAINER PRINCIPAL QUE CENTRALIZA O CONTEÚDO ---------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

/* ---------------------------------- BOTÃO PARA ALTERAR O TEMA (CLARO/ESCURO) ---------------------------------- */

.theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    top: 20px;
}

.theme-toggle i {
    font-size: min(1.25rem, 3vw);
}

/* ---------------------------------- PERSONALIZAÇÃO DO CONTEÚDO NO TEMA ESCURO ---------------------------------- */

body.dark-mode {
    background-image: url('imagens/dark.png');
    color: #ffffff;
}

/* ---------------------------------- ADICIONAR TAREFAS ---------------------------------- */

.adicionar {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

input {
    flex: 1;
    padding: 10px;
    font-size: min(1rem, 3vw);
    width: 540px;
    max-width: 600px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* ---------------------------------- CONFG DO BOTÃO "ADICIONAR" ---------------------------------- */

button.mais {
    padding: 10px 15px;
    font-size: min(1rem, 3vw);
    color: #080707;
    border: solid black 1px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.mais img {
    width: min(24px, 5vw);
    height: min(24px, 5vw);
}

/* ---------------------------------- LISTA DE ITENS ---------------------------------- */
ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px black;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    word-break: break-word;
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(15px, 3vw);
    gap: 10px;
}

body.dark-mode li {
    color: #000;
}

li .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(15px, 3vw);
    height: min(15px, 3vw);
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    margin-right: 10px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

li img {
    width: min(18px, 5vw);
    height: min(18px, 5vw);
    cursor: pointer;
}

li img:hover {
    transform: scale(1.2);
    filter: brightness(0) saturate(100%) invert(31%) sepia(100%) saturate(500%) hue-rotate(0deg) brightness(60%) contrast(100%);
}

body.dark-mode li.concluida {
    color: #5f5c5c;
    text-decoration: line-through;
}

body li.concluida {
    color: #888888;
    text-decoration: line-through;
}

/* ---------------------------------- MODAL CTRL + H  ---------------------------------- */

.modal-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(80%, 600px);
    max-width: 600px;
    height: min(80%, 400px);
    z-index: 1000;
    padding: 20px;
}

.modal-content {
    background: #ffffff;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.dark-mode .modal-content {
    background: #333333;
    color: #ffffff;
    border: 2px solid #ffffff;
}

/* ---------------------------------- FECHAR MODAL ---------------------------------- */

.fechar-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(2rem, 6vw);
    cursor: pointer;
    color: #000;
    position: absolute;
    top: 10px;
    right: 10px;
}

.fechar-modal img {
    padding: 20px;
    width: min(20px, 5vw);
    height: min(20px, 5vw);
}

.dark-mode .fechar-modal {
    color: #ffffff;
}

.dark-mode .fechar-modal img {
    filter: invert(1);
}

/* ---------------------------------- CONTEÚDO DO MODAL ---------------------------------- */

.informacoesModal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 10px;
    text-align: center;
}

.informacoesModal p {
    margin: 0;
    font-size: min(20px, 4vw);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.informacoesModal img {
    height: min(40px, 10vw);
    margin-top: 10px;
    border-radius: 50%;
}

.informacoesModal .info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#autoras {
    height: min(50px, 15vw);
    width: min(50px, 15vw);
    border-radius: 50%;
    object-fit: cover;
}

/* ---------------------------------- BARRA DE PROGRESSO  ---------------------------------- */

.progress-container {
    position: relative;
    height: min(30px, 10vw);
    margin-top: 5px;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    width: min(80%, 440px);
    max-width: 600px;
}

progress {
    width: 100%;
    height: 100%;
    appearance: none;
    -webkit-appearance: none;
    background-color: #e2dbdbef;
    border-radius: 15px;
    display: flex;
}

progress::-webkit-progress-bar {
    background-color: #c9c5c5e2;
    border-radius: 15px;
}

progress::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 15px;
}

#progressLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: min(15px, 4vw);
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


